.container-musics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#A0A081, #ffffff);
    
    
}

.tittle-musics{

}

.box-musics{
    
    
}

.container-albuns{
    display: flex;
    flex-direction: row;
}

.album{
    width: 15vw;
}

.music{
    display: flex;
    flex-direction: column;
}